force-app/main/default/flows/Account_Deactivate_Affiliated_Therapists_Evaluators.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Add Affiliation to Collection</description>
        <name>Add_Affiliation_to_Collection</name>
        <label>Add Affiliation to Collection</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varAffiliationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Affiliations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add Contact ID to Collection</description>
        <name>Add_Contact_ID_to_Collection</name>
        <label>Add Contact ID to Collection</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>varCollectionContactIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Affiliations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Affiliated Contact ID to the current Item in the loop</description>
        <name>Assign_Affiliated_Contact_ID</name>
        <label>Assign Affiliated Contact ID</label>
        <locationX>358</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varAffiliatedContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Affiliations.npe5__Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Affiliated_to_Other_Organization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Affiliation Id</description>
        <name>Assign_Agency_Id</name>
        <label>Assign Affiliation Id</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>AgencyRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Affiliations.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Thru_Affiliations.npe5__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Thru_Affiliations.npe5__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Affiliation_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign current item Contact Status to inactive</description>
        <name>Assign_Contact_Status</name>
        <label>Assign Contact Status</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>varContactID.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Affiliations.npe5__Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactID.null__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_ID_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the status is changed to inactive.</description>
        <name>Changed_to_Inactive</name>
        <label>Changed to Inactive?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the contact is affiliated to other organizations.</description>
        <name>Contact_Affiliated_to_Other_Organization</name>
        <label>Contact Affiliated to Other Organization?</label>
        <locationX>358</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Affiliated</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_Affiliations.npe5__Contact__r.null__NotFound</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Evaluator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Thru_Affiliations.npe5__Contact__r.null__NotFound</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Therapist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAffiliatedContactID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Thru_Affiliations.npe5__Contact__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Thru_Affiliations.npe5__Contact__r.null__NotFound</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Affiliations</targetReference>
            </connector>
            <label>Yes Affiliated</label>
        </rules>
        <rules>
            <name>No_Only_One</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varAffiliatedContactID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Thru_Affiliations.npe5__Contact__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Thru_Affiliations.npe5__Contact__r.null__NotFound</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Evaluator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Thru_Affiliations.npe5__Contact__r.null__NotFound</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Therapist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Agency_Id</targetReference>
            </connector>
            <label>No, Only One</label>
        </rules>
    </decisions>
    <description>When an agency is marked &quot;inactive&quot;, all affiliated therapists and evaluators should have their associated affiliation records marked inactive as well.</description>
    <environments>Default</environments>
    <interviewLabel>Account_Deactivate Affiliated Therapists &amp; Evaluators {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_Deactivate Affiliated Therapists &amp; Evaluators</label>
    <loops>
        <description>Loop Thru Affiliations</description>
        <name>Loop_Thru_Affiliations</name>
        <label>Loop Thru Affiliations</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Affiliations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Affiliated_Contact_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Affiliation_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the ID of the account that triggered the flow</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Affiliations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all affiliated agencies related to the account.</description>
        <name>Get_Affiliations</name>
        <label>Get Affiliations</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Affiliations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npe5__Affiliation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Type__c</queriedFields>
        <queriedFields>Contact_Contact_Type__c</queriedFields>
        <queriedFields>null__NotFound</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>npe5__Contact__c</queriedFields>
        <queriedFields>npe5__EndDate__c</queriedFields>
        <queriedFields>npe5__Status__c</queriedFields>
        <queriedFields>npe5__StartDate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Affiliation Status to Former and provides the end date which is the current day.</description>
        <name>Update_Affiliation_Status</name>
        <label>Update Affiliation Status</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputReference>varAffiliationCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the therapist or evaluator to inactive status.</description>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <inputReference>varCollectionContactIDs</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Changed_to_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Active__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>AffiliatedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AffiliatedOrganizationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AffiliationIDFromOnlyOneLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgencyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactsWithOneAffiliationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varAffiliatedContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAffiliationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varCollectionContactIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
