force-app/main/default/flows/Contact_Mailing_State_to_Two_Letter_Abbreviated_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Id_and_Mailing_State</name>
        <label>Assign Contact Id and Mailing State</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Filter_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Thru_Filter_Collection.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_TwoLetterState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Filter_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Filter_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Contacts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Contacts</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNextValueToReference>currentItem_Filter_Contacts_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contacts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Contacts_0.MailingState</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>No_Abbreviated_States</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>No_Abbreviated_States</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>No Abbreviated States</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNextValueToReference>currentItem_No_Abbreviated_States</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contacts</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Alabama</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Alaska</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Arizona</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Arkansas</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>California</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Colorado</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Connecticut</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Delaware</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Florida</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Georgia</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Hawaii</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Idaho</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Illinois</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Indiana</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Iowa</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Kansas</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Kentucky</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Louisiana</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Maine</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Maryland</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Massachusetts</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Michigan</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Minnesota</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Mississippi</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Missouri</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Montana</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Nebraska</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Nevada</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>New Hampshire</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>New Jersey</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>New Mexico</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>New York</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>North Carolina</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>North Dakota</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Ohio</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Oklahoma</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Oregon</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Pennsylvania</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Rhode Island</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>South Carolina</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>South Dakota</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Tennessee</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Texas</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Utah</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Vermont</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Virginia</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Washington</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>West Virginia</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Wisconsin</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_No_Abbreviated_States.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Wyoming</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Thru_Filter_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>f_Bool2Letters</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;AL&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;AK&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;AZ&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;AR&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;CA&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;CO&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;CT&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;DE&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;FL&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;GA&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;HI&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;ID&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;IL&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;IN&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;IA&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;KS&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;KY&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;LA&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;ME&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;MD&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;MA&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;MI&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;MN&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;MS&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;MO&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;MT&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;NE&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;NV&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;NH&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;NJ&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;NM&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;NY&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;NC&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;ND&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;OH&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;OK&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;OR&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;PA&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;RI&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;SC&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;SD&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;TN&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;TX&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;UT&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;VT&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;VA&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;WA&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;WV&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;WI&quot;),
    CONTAINS({!currentItem_Filter_Contacts_0.MailingState}, &quot;WY&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>f_TwoLetterState</name>
        <dataType>String</dataType>
        <expression>Case ({!Loop_Thru_Filter_Collection.MailingState}, 
&quot;Alabama&quot;, &quot;AL&quot;, &quot;Alaska&quot;, &quot;AK&quot;, &quot;Arizona&quot;, &quot;AZ&quot;, &quot;Arkansas&quot;, &quot;AR&quot;, &quot;California&quot;, &quot;CA&quot;, &quot;Colorado&quot;, &quot;CO&quot;, &quot;Connecticut&quot;, &quot;CT&quot;, 
&quot;Delaware&quot;, &quot;DE&quot;, &quot;Florida&quot;, &quot;FL&quot;, &quot;Georgia&quot;, &quot;GA&quot;, &quot;Hawaii&quot;, &quot;HI&quot;, &quot;Idaho&quot;, &quot;ID&quot;, &quot;Illinois&quot;, &quot;IL&quot;, &quot;Indiana&quot;, &quot;IN&quot;, &quot;Iowa&quot;, &quot;IA&quot;, 
&quot;Kansas&quot;, &quot;KS&quot;, &quot;Kentucky&quot;, &quot;KY&quot;, &quot;Louisiana&quot;, &quot;LA&quot;, &quot;Maine&quot;, &quot;ME&quot;, &quot;Maryland&quot;, &quot;MD&quot;, &quot;Massachusetts&quot;, &quot;MA&quot;, &quot;Michigan&quot;, &quot;MI&quot;, 
&quot;Minnesota&quot;, &quot;MN&quot;, &quot;Mississippi&quot;, &quot;MS&quot;, &quot;Missouri&quot;, &quot;MO&quot;, &quot;Montana&quot;, &quot;MT&quot;, &quot;Nebraska&quot;, &quot;NE&quot;, &quot;Nevada&quot;, &quot;NV&quot;, &quot;New Hampshire&quot;, &quot;NH&quot;, &quot;New Jersey&quot;, &quot;NJ&quot;, &quot;New Mexico&quot;, &quot;NM&quot;, &quot;New York&quot;, &quot;NY&quot;, &quot;North Carolina&quot;, &quot;NC&quot;, &quot;North Dakota&quot;, &quot;ND&quot;, &quot;Ohio&quot;, &quot;OH&quot;, 
&quot;Oklahoma&quot;, &quot;OK&quot;, &quot;Oregon&quot;, &quot;OR&quot;, &quot;Pennsylvania&quot;, &quot;PA&quot;, &quot;Rhode Island&quot;, &quot;RI&quot;, &quot;South Carolina&quot;, &quot;SC&quot;, &quot;South Dakota&quot;, &quot;SD&quot;, 
&quot;Tennessee&quot;, &quot;TN&quot;, &quot;Texas&quot;, &quot;TX&quot;, &quot;Utah&quot;, &quot;UT&quot;, &quot;Vermont&quot;, &quot;VT&quot;, &quot;Virginia&quot;, &quot;VA&quot;, &quot;Washington&quot;, &quot;WA&quot;, &quot;West Virginia&quot;, &quot;WV&quot;, 
&quot;Wisconsin&quot;, &quot;WI&quot;, &quot;Wyoming&quot;, &quot;WY&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Contact | Mailing State to Two-Letter Abbreviated Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact | Mailing State to Two-Letter Abbreviated Case</label>
    <loops>
        <name>Loop_Thru_Filter_Collection</name>
        <label>Loop Thru Filter Collection</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <collectionReference>No_Abbreviated_States</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Id_and_Mailing_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Mailing_State</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Contacts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This updates all mailing States in the collection</description>
        <name>Update_Mailing_State</name>
        <label>Update Mailing State</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <inputReference>varContactRecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-02-05</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Abbreviated_States_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Contacts_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_No_Abbreviated_States</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varMailingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
