force-app/main/default/flows/Contact_Update_Preferred_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Alternate_to_Preferred_Email</name>
        <label>Assign Alternate to Preferred Email</label>
        <locationX>798</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alternate</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Email_as_Alternate</name>
        <label>Assign Email as Alternate</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__AlternateEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Email_is_not_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_as_Personal</name>
        <label>Assign Email as Personal</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__HomeEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Email_is_not_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_as_Work</name>
        <label>Assign Email as Work</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__WorkEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Email_is_not_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Value</name>
        <label>Assign Email Value</label>
        <locationX>1282</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Email_is_not_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Personal_to_Preferred_Email</name>
        <label>Assign Personal to Preferred Email</label>
        <locationX>270</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Work_to_Preferred_Email</name>
        <label>Assign Work to Preferred Email</label>
        <locationX>534</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>This clears out the value in preferred email if all email fields are blank.</description>
        <name>Update_Preferred_Email</name>
        <label>Update Preferred Email</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Which_Email_is_not_Blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Email_fields_blank</name>
        <label>All Email fields blank?</label>
        <locationX>666</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__HomeEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__AlternateEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Preferred_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Email_and_Preferred_Email_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__HomeEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__AlternateEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Value_of_Preferred_Email</targetReference>
            </connector>
            <label>Email and Preferred Email Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Value_of_Preferred_Email</name>
        <label>Check the Value of Preferred Email</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Which_Email_is_not_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Personal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_as_Personal</targetReference>
            </connector>
            <label>Personal</label>
        </rules>
        <rules>
            <name>Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_as_Work</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Alternate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_as_Alternate</targetReference>
            </connector>
            <label>Alternate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Email_is_not_Blank</name>
        <label>Which Email is not Blank?</label>
        <locationX>666</locationX>
        <locationY>779</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Personal_Email_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__HomeEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__AlternateEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Personal_to_Preferred_Email</targetReference>
            </connector>
            <label>Personal Email Not Blank</label>
        </rules>
        <rules>
            <name>Work_Email_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__WorkEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__HomeEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__AlternateEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_to_Preferred_Email</targetReference>
            </connector>
            <label>Work Email Not Blank</label>
        </rules>
        <rules>
            <name>Alternate_Email_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__AlternateEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__HomeEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Alternate_to_Preferred_Email</targetReference>
            </connector>
            <label>Alternate Email Not Blank</label>
        </rules>
    </decisions>
    <description>When all email fields are blank, this will remove the value in the Preferred Email field. It will update the respective email field if only the email is provided with the corresponding preferred email.</description>
    <environments>Default</environments>
    <interviewLabel>Contact_Update Preferred Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact_Update Preferred Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Email_fields_blank</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>20</triggerOrder>
</Flow>
