force-app/main/default/flows/Contact_Mailing_State_Different_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Id_and_Mailing_State</name>
        <label>Assign Contact Id and Mailing State</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Filter_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Thru_Filter_Collection.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_TwoLetterState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Filter_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Filter_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>f_Alabama</name>
        <dataType>String</dataType>
        <expression>CASE(TRIM(
    {!currentItem_No_Abbreviated_States.MailingState}),
    &quot;Alabama&quot;, &quot;Alabama&quot;,
    &quot;Alabam&quot;, &quot;Alabama&quot;,
    &quot;Albama&quot;, &quot;Alabama&quot;,
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_IsTwoLetter</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!$Record.MailingState})=2, &quot;Abbreviated&quot;, &quot;NotAbbreviated&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_TwoLetterState</name>
        <dataType>String</dataType>
        <expression>Case ({!Loop_Thru_Filter_Collection.MailingState}, 
&quot;Alabama&quot;, &quot;AL&quot;, &quot;Alaska&quot;, &quot;AK&quot;, &quot;Arizona&quot;, &quot;AZ&quot;, &quot;Arkansas&quot;, &quot;AR&quot;, &quot;California&quot;, &quot;CA&quot;, &quot;Colorado&quot;, &quot;CO&quot;, &quot;Connecticut&quot;, &quot;CT&quot;, 
&quot;Delaware&quot;, &quot;DE&quot;, &quot;Florida&quot;, &quot;FL&quot;, &quot;Georgia&quot;, &quot;GA&quot;, &quot;Hawaii&quot;, &quot;HI&quot;, &quot;Idaho&quot;, &quot;ID&quot;, &quot;Illinois&quot;, &quot;IL&quot;, &quot;Indiana&quot;, &quot;IN&quot;, &quot;Iowa&quot;, &quot;IA&quot;, 
&quot;Kansas&quot;, &quot;KS&quot;, &quot;Kentucky&quot;, &quot;KY&quot;, &quot;Louisiana&quot;, &quot;LA&quot;, &quot;Maine&quot;, &quot;ME&quot;, &quot;Maryland&quot;, &quot;MD&quot;, &quot;Massachusetts&quot;, &quot;MA&quot;, &quot;Michigan&quot;, &quot;MI&quot;, 
&quot;Minnesota&quot;, &quot;MN&quot;, &quot;Mississippi&quot;, &quot;MS&quot;, &quot;Missouri&quot;, &quot;MO&quot;, &quot;Montana&quot;, &quot;MT&quot;, &quot;Nebraska&quot;, &quot;NE&quot;, &quot;Nevada&quot;, &quot;NV&quot;, &quot;New Hampshire&quot;, &quot;NH&quot;, &quot;New Jersey&quot;, &quot;NJ&quot;, &quot;New Mexico&quot;, &quot;NM&quot;, &quot;New York&quot;, &quot;NY&quot;, &quot;North Carolina&quot;, &quot;NC&quot;, &quot;North Dakota&quot;, &quot;ND&quot;, &quot;Ohio&quot;, &quot;OH&quot;, 
&quot;Oklahoma&quot;, &quot;OK&quot;, &quot;Oregon&quot;, &quot;OR&quot;, &quot;Pennsylvania&quot;, &quot;PA&quot;, &quot;Rhode Island&quot;, &quot;RI&quot;, &quot;South Carolina&quot;, &quot;SC&quot;, &quot;South Dakota&quot;, &quot;SD&quot;, 
&quot;Tennessee&quot;, &quot;TN&quot;, &quot;Texas&quot;, &quot;TX&quot;, &quot;Utah&quot;, &quot;UT&quot;, &quot;Vermont&quot;, &quot;VT&quot;, &quot;Virginia&quot;, &quot;VA&quot;, &quot;Washington&quot;, &quot;WA&quot;, &quot;West Virginia&quot;, &quot;WV&quot;, 
&quot;Wisconsin&quot;, &quot;WI&quot;, &quot;Wyoming&quot;, &quot;WY&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Contact | Mailing State Different Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact | Mailing State Different Version</label>
    <loops>
        <name>Loop_Thru_Filter_Collection</name>
        <label>Loop Thru Filter Collection</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Contacts_with_Mailing_States</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Id_and_Mailing_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Mailing_State</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts_with_Mailing_States</name>
        <label>Get Contacts with Mailing States</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Filter_Collection</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29 OR 30 OR 31 OR 32 OR 33 OR 34 OR 35 OR 36 OR 37 OR 38 OR 39 OR 40 OR 41 OR 42 OR 43 OR 44 OR 45 OR 46 OR 47)</filterLogic>
        <filters>
            <field>MailingState</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Alabama</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Alaska</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Arizona</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>California</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Colorado</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Connecticut</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Delaware</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Florida</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Georgia</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Hawaii</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Idaho</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Illinois</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Indiana</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Iowa</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Kansas</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Kentucky</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Louisiana</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Maine</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Maryland</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Massachusetts</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Michigan</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Minnesota</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Mississippi</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Missouri</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Montana</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Nebraska</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Nevada</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Carolina</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Ohio</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Oklahoma</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Oregon</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Pennsylvania</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Rhode</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Dakota</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Tennessee</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Texas</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utah</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Vermont</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Washington</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Wisconsin</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Wyoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Virginia</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>District</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Guam</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Puerto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This updates all mailing States in the collection</description>
        <name>Update_Mailing_State</name>
        <label>Update Mailing State</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <inputReference>varContactRecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts_with_Mailing_States</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-02-12</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>collectionStates</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Abbreviated_States_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_No_Abbreviated_States</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mailingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varMailingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
