force-app/main/default/flows/RTF_Update_Contact_or_Lead_Email_on_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Checks if Contact or Lead Task</description>
        <name>Contact_or_Lead_Task</name>
        <label>Contact or Lead Task</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_or_Lead_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Contact_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Email</targetReference>
            </connector>
            <label>Contact Task</label>
        </rules>
        <rules>
            <name>Lead_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Email</targetReference>
            </connector>
            <label>Lead Task</label>
        </rules>
    </decisions>
    <description>Record-Triggered Flow to Update Contact or Lead Email on Task</description>
    <environments>Default</environments>
    <interviewLabel>RTF | Update Contact or Lead Email on Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF | Update Contact or Lead Email on Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Email</name>
        <label>Get Contact Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_or_Lead_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>v_ContactOrLeadEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Email</name>
        <label>Get Lead Email</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_or_Lead_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>v_ContactOrLeadEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_or_Lead_Email</name>
        <label>Update Contact or Lead Email</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>v_ContactOrLeadEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_or_Lead_Task</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>v_ContactOrLeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
